@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  font-family: 'Poppins', sans-serif;
}

.text-underline {
  text-decoration: line-through;
}

.spinner {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: 4px solid #ccc;
  border-left-color: #0275d8;
  animation: spin 1s linear infinite;
}

.spinner-container {
  display: flex;
  justify-content: center;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}